html {
  background-color: black;
  font-size: 18px;
  font-family: Helvetica;
}

.top {
  width: 960px;
  display: inline-flex;
  margin: 0.66rem 0px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.secret {
  color: white;
}

.container_main {
  background-image: url(./resources/images/moto.jpeg);
  height: 25rem;
}
